/* Bootstrap (required by AdminLTE) */
@import "bootstrap/dist/css/bootstrap.min.css";

/* FontAwesome */
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* AdminLTE */
@import "admin-lte/dist/css/adminlte.min.css";
/* BOostrap icons */
@import "bootstrap-icons/font/bootstrap-icons.css";

.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1037;
}
